@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');


body{
	background-color: black;
	padding: 0;
}

* { margin:0; padding:0; box-sizing:border-box; }



/*TITRAGES*/

h1{
	font-size: 2em;
font-family: 'Rammetto One', cursive;
font-weight: 800;
color: white;
position: absolute;
margin-left: 40px;
text-shadow: 0.2em 0.2em 0 rgba(0,0,0,.7);

}



.playerBar {
	border: 2px solid white;
	border-radius: 2px;
	width: 20rem;
	height: 32px;
	/*margin : 0 2rem;*/
	margin-left: 40px;
}




/*LA PARTIE DONT LA WIDTH SE REDUIRA A FIL DES COUPS RECUS*/
.playerLife {
	max-width: 100%;
	height: 100%;
	background-color: grey;
	transition: width 500ms;
	transition-timing-function: ease-in;
}


@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
   /* and (-webkit-device-pixel-ratio : 3)*/
    and (orientation : landscape)  { 


.container{
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0;
	left: 0;
}

/*BACKGROUNDS*/

#case1{
	background: url('../img/case_1_bg.png')
}

.image1{
	position: relative;
}

.image2{
	position: absolute;
	top: 0;
	z-index: 2;
}



}